// Refer to https://create-react-app.dev/docs/adding-a-css-modules-stylesheet
// On how to use scss modules with React

// Import WMN Design System scss for use in this scss file
// Tilde (~) represents the root folder(src)
@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

.totalPrice {
  font-size: 1em;
  font-weight: 400;
}

.ticketCard {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: space-between;

  @media (max-width: $breakpoint-sm - 1) {
    margin-right: -$size-md;
    margin-left: -$size-md;
  }
}
