// Refer to https://create-react-app.dev/docs/adding-a-css-modules-stylesheet
// On how to use scss modules with React

// Import WMN Design System scss for use in this scss file
// Tilde (~) represents the root folder(src)
@import '~assets/wmnds/vars';
@import '~assets/wmnds/mixins';

.ticketHeader {
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.heading {
  position: relative;
  margin-top: $size-md;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }
}

.icons {
  @media (max-width: $breakpoint-md - 1) {
    position: absolute;
    top: calc(-100% - #{$size-md});
    left: 0;
  }
  @media (min-width: $breakpoint-md) {
    margin-top: $size-sm;
  }
}

.modeIcon {
  width: 30px;
  height: 30px;

  &:not(:first-child) {
    margin-left: $size-xsm;
  }

  &.bus {
    fill: get-color(bus);
  }

  &.metro {
    fill: get-color(metro);
  }

  &.train {
    fill: get-color(railway);
  }
}

.description {
  p,
  ul {
    overflow: hidden;

    &:empty {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
