// Refer to https://create-react-app.dev/docs/adding-a-css-modules-stylesheet
// On how to use scss modules with React

// Import WMN Design System scss for use in this scss file
// Tilde (~) represents the root folder(src)
@import '../../../../assets/wmnds/vars';
@import '../../../../assets/wmnds/mixins';

.summary {
  &:not(:last-child) {
    margin-bottom: $size-sm;
    padding-bottom: $size-sm;
    border-bottom: 1px solid get-color(text, 70);
  }
}

@media screen and (max-width: $breakpoint-md - 1) {
  .sidebarSummary {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    .mobileHeader {
      margin-top: -$size-xsm;
      justify-content: space-between;
      align-items: center;
    }

    .closeBtn {
      width: 50px;
      height: 50px;
      margin-right: -5px;
      border: 0;
      background-color: transparent;

      svg {
        width: 100%;
        height: 100%;
        fill: get-color(primary);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .mobileHeader {
    display: none;
  }
}
